<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<target name="defaultFile" xsi:type="File" keepFileOpen="true" openFileCacheTimeout="30"
			layout="${longdate} ${logger} ${message} ${exception:format=ToString}" encoding="utf-8"
			fileName="${basedir}/logs/${shortdate}/${level}.log" />
		<target name="ColoredConsole" xsi:type="ColoredConsole"
			layout="${time} -> #${logger} ${message} ${exception:format=ToString}" encoding="utf-8">
			<highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red"/>
			<highlight-row condition="level == LogLevel.Error" foregroundColor="Yellow"/>
			<highlight-row condition="level == LogLevel.Warn" foregroundColor="Magenta"/>
			<highlight-row condition="level == LogLevel.Info" foregroundColor="White"/>
			<highlight-row condition="level == LogLevel.Debug" foregroundColor="Gray"/>
			<highlight-row condition="level == LogLevel.Trace" foregroundColor="DarkGray"/>
		</target>
	</targets>
	<rules>
		<logger name="*" minlevel="Debug" writeTo="ColoredConsole" />
		<!--<logger name="*" minlevel="Debug" writeTo="defaultFile" />-->
	</rules>
</nlog>